
<div class="page-header">
    <h4 class="page-title">Registro de pedido</h4>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="form-group form-floating-label">
            <select class="form-control input-border-bottom" name="selectvendedor" required>
                <option value="">&nbsp;</option>
                
            </select>
            <label for="selectvendedor" class="placeholder">Vendedor</label>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group form-floating-label">
            <select class="form-control input-solid" name="selectcliente" required>
                <option value="">&nbsp;</option>
               
            </select>
            <label for="selectcliente" class="placeholder">Cliente</label>
        </div>
    </div>



    <div class="col-md-4">
        <div class="form-group form-floating-label">
            <select class="form-control input-border-bottom" name="selectarticulo" required>
                <option value="">&nbsp;</option>
                
            </select>
            <label for="selectarticulo" class="placeholder">Artículo</label>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group form-floating-label">
            <input name="inputnumero" type="number" class="form-control input-border-bottom" required>
            <label for="inputnumero" class="placeholder">Número</label>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group form-floating-label">
            <input name="inputcantidad" type="number" class="form-control input-border-bottom" required>
            <label for="inputcantidad" class="placeholder">Cantidad</label>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input name="inputvalor" type="number" class="form-control" aria-label="pesos">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="padding-top:10px;">
        <button class="btn btn-primary btn-round ml-auto" name="btnagregar">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>

    <div class="col-md-12">

        <div class="table-responsive" style="min-height: 200px; max-height:200px; overflow: auto;">
            <table id="add-row" class="display table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Cod. Artículo</th>
                        <th>Número</th>
                        <th>Cantidad</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody name="tbodyarticulo">
                </tbody>
            </table>
        </div>
    </div>


</div>

<div class="float-right" style="padding-top:10px;">
    <div class="card-action">
        <button name="btnaceptar" class="btn btn-success">Aceptar</button>
        <button name="btnacancelar" class="btn btn-danger">Cancelar</button>
    </div>
</div>

@Scripts.Render("~/Content/assets/js/modulos/registro.js")

