USE [master]
GO
/****** Object:  Database [compra]    Script Date: 06/11/2020 17:05:14 ******/
CREATE DATABASE [compra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'compra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\compra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'compra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\compra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [compra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [compra]
GO
/****** Object:  Table [dbo].[ARTICULO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NOT NULL,
	[MARCA] [varchar](150) NOT NULL,
	[ESTADO] [tinyint] NOT NULL,
 CONSTRAINT [PK_ARTICULO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLEPEDIDO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEPEDIDO](
	[PEDIDOID] [bigint] NOT NULL,
	[NUMERO] [bigint] NOT NULL,
	[ARTICULOID] [bigint] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[VALORUNIDAD] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CLIENTE] [bigint] NOT NULL,
	[VENDEDOR] [bigint] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ESTADO] [tinyint] NOT NULL,
 CONSTRAINT [PK_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NOT NULL,
	[APELLIDO] [varchar](150) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[ESTADO] [tinyint] NOT NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONATIPO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONATIPO](
	[PERSONAID] [bigint] NOT NULL,
	[TIPOID] [tinyint] NOT NULL,
	[ESTADO] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO](
	[ID] [tinyint] NOT NULL,
	[DESCRIPCION] [varchar](150) NOT NULL,
 CONSTRAINT [PK_TIPO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARTICULO] ADD  CONSTRAINT [DF_ARTICULO_ESTADO]  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  CONSTRAINT [DF_PEDIDO_ESTADO]  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PERSONATIPO] ADD  CONSTRAINT [DF_PERSONATIPO_ESTADO]  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[DETALLEPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEPEDIDO_ARTICULO] FOREIGN KEY([ARTICULOID])
REFERENCES [dbo].[ARTICULO] ([ID])
GO
ALTER TABLE [dbo].[DETALLEPEDIDO] CHECK CONSTRAINT [FK_DETALLEPEDIDO_ARTICULO]
GO
ALTER TABLE [dbo].[DETALLEPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEPEDIDO_PEDIDO] FOREIGN KEY([PEDIDOID])
REFERENCES [dbo].[PEDIDO] ([ID])
GO
ALTER TABLE [dbo].[DETALLEPEDIDO] CHECK CONSTRAINT [FK_DETALLEPEDIDO_PEDIDO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_PERSONA] FOREIGN KEY([CLIENTE])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_PERSONA]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_PERSONA1] FOREIGN KEY([VENDEDOR])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_PERSONA1]
GO
ALTER TABLE [dbo].[PERSONATIPO]  WITH CHECK ADD  CONSTRAINT [FK_PERSONATIPO_PERSONA] FOREIGN KEY([PERSONAID])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[PERSONATIPO] CHECK CONSTRAINT [FK_PERSONATIPO_PERSONA]
GO
ALTER TABLE [dbo].[PERSONATIPO]  WITH CHECK ADD  CONSTRAINT [FK_PERSONATIPO_TIPO] FOREIGN KEY([TIPOID])
REFERENCES [dbo].[TIPO] ([ID])
GO
ALTER TABLE [dbo].[PERSONATIPO] CHECK CONSTRAINT [FK_PERSONATIPO_TIPO]
GO
/****** Object:  StoredProcedure [dbo].[CREARDETALLEPEDIDO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CREARDETALLEPEDIDO]
@PEDIDOID bigint,  
@ARTICULOID bigint,
@NUMERO bigint,
@CANTIDAD int,
@VALORUNIDAD bigint,
@NEWId INT OUT
AS  
BEGIN  
    -- SET NOCOUNT ON added to prevent extra result sets from  
    -- interfering with SELECT statements.  
    SET NOCOUNT ON;  
   Insert into dbo.DETALLEPEDIDO (PEDIDOID, NUMERO, ARTICULOID, CANTIDAD, VALORUNIDAD)   
           Values (@PEDIDOID, @NUMERO,@ARTICULOID, @CANTIDAD,@VALORUNIDAD)  
    SET @NEWId = SCOPE_IDENTITY();
END  
GO
/****** Object:  StoredProcedure [dbo].[CREARPEDIDO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CREARPEDIDO]
@CLIENTE bigint,  
@VENDEDOR bigint,
@NEWId INT OUT
AS  
BEGIN  
    -- SET NOCOUNT ON added to prevent extra result sets from  
    -- interfering with SELECT statements.  
    SET NOCOUNT ON;  
   Insert into dbo.PEDIDO (CLIENTE, VENDEDOR, FECHA)   
           Values (@CLIENTE, @VENDEDOR,GETDATE())  
    SET @NEWId = SCOPE_IDENTITY();
END  
GO
/****** Object:  StoredProcedure [dbo].[ELIMINARPEDIDO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINARPEDIDO]
@ID bigint
AS  
BEGIN  
    -- SET NOCOUNT ON added to prevent extra result sets from  
    -- interfering with SELECT statements.  
    SET NOCOUNT ON;  
    UPDATE dbo.PEDIDO  
    Set ESTADO = 0
    Where ID = @ID  
END  
GO
/****** Object:  StoredProcedure [dbo].[OBTENEDETALLEPEDIDO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENEDETALLEPEDIDO]   
	@IDPEDIDO bigint = NULL 
AS   
    SET NOCOUNT ON;  
    SELECT *
    FROM dbo.DETALLEPEDIDO DP
	WHERE (@IDPEDIDO IS NULL OR DP.PEDIDOID = @IDPEDIDO);
GO
/****** Object:  StoredProcedure [dbo].[OBTENEPEDIDO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENEPEDIDO]   
    @ID bigint = NULL,
	@IDVENDEDOR bigint = NULL  
AS   
    SET NOCOUNT ON;  
    SELECT A.ID, 
	convert(varchar, getdate(), 120) FECHA,
	CONCAT(P.NOMBRE, ' ' ,P.APELLIDO) NOMBRE
    FROM dbo.PEDIDO A
	JOIN dbo.PERSONA P ON P.ID = A.CLIENTE
    WHERE (@ID IS NULL OR A.ID = @ID)
	AND (@IDVENDEDOR IS NULL OR A.VENDEDOR = @IDVENDEDOR)
	AND A.ESTADO = 1;
GO
/****** Object:  StoredProcedure [dbo].[OBTENERARTICULO]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENERARTICULO]   
    @ID bigint = NULL   
AS   
    SET NOCOUNT ON;  
    SELECT *  
    FROM dbo.ARTICULO A
    WHERE (@ID IS NULL OR A.ID = @ID)
	AND A.ESTADO = 1;
GO
/****** Object:  StoredProcedure [dbo].[OBTENERPERSONA]    Script Date: 06/11/2020 17:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENERPERSONA]   
    @TIPOID tinyint = NULL,   
    @ID bigint = NULL 
AS   

    SET NOCOUNT ON;  
    SELECT P.ID, P.SEXO, P.NOMBRE, P.APELLIDO
    FROM dbo.PERSONA P
	JOIN dbo.PERSONATIPO PT ON (P.ID = PT.PERSONAID)
    WHERE (@ID IS NULL OR P.ID = @ID) AND (@TIPOID IS NULL OR PT.TIPOID = @TIPOID) 
	AND PT.ESTADO = 1 AND P.ESTADO = 1;
GO
USE [master]
GO
