
<div class="page-header">
    <h4 class="page-title">Gestìón de pedidos</h4>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="form-group form-floating-label">
            <select class="form-control input-border-bottom" name="selectvendedor" required>
                <option value="">&nbsp;</option>

            </select>
            <label for="selectvendedor" class="placeholder">Vendedor</label>
        </div>
    </div>


    <div class="col-md-12">
        <div class="table-responsive">
            <table id="add-row" class="display table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Cod. Pedido</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th style="width: 10%">Action</th>
                    </tr>
                </thead>
                <tbody name="tbodypedidos">
                </tbody>
            </table>
        </div>
    </div>
</div>


@Scripts.Render("~/Content/assets/js/modulos/pedido.js")

